@using System.Diagnostics
@using System.Drawing
@using System.Security.Policy
@using System.Web.UI.WebControls
@using PegazusERP.Aplicacao.AppServices

@if (!ControladorDeSessao.EstaAutenticado())
{
    <!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <title>Pegazus ERP - Pegazus Software</title>
        <script type="text/javascript">
            window.location = "/Acesso/Entrar";
        </script>
    </head>
    <body>
        <div style="display:none">
            @RenderBody()
        </div>
        <a href="~/Views/Shared/_LayoutNovo.cshtml">~/Views/Shared/_LayoutNovo.cshtml</a>
        @if (IsSectionDefined("scripts"))
        {
            @RenderSection("scripts")
        }
    </body>
</html>
}
else
{
   // var tenantId = ControladorDeSessao.GetTenant();

    //string filePath = "/Content/images/secS.png";
    //if (System.IO.File.Exists(Request.MapPath("/Content/images/" + tenantId.ToString() + ".png")))
    //{
    //  //  filePath = "/Content/images/" + tenantId.ToString() + ".png";
    //}

    //if (System.IO.File.Exists(Request.MapPath("/Content/images/" + tenantId.ToString() + ".jpg")))
    //{
    //    filePath = "/Content/images/" + tenantId.ToString() + ".jpg";
    //}

    //if (System.IO.File.Exists(Request.MapPath("/Content/images/" + tenantId.ToString() + ".jpeg")))
    //{
    //   // filePath = "/Content/images/" + tenantId.ToString() + ".jpeg";
    //}

   // string nomeUsuario = ControladorDeSessao.GetUsuario().PessoaNome;

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

        <title>Pegazus ERP - Pegazus Software</title>
        <meta name="description" content="Pegazus ERP - Pegazus Software">
        <meta name="author" content="Pegazus ERP - Pegazus Software">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Basic Styles -->
        <link rel="stylesheet" type="text/css" media="screen" href="/Content/smart/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/Content/smart/css/font-awesome.min.css">

        <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
        <link rel="stylesheet" type="text/css" media="screen" href="/Content/smart/css/smartadmin-production.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/Content/smart/css/smartadmin-skins.min.custom.css">

        <!-- SmartAdmin RTL Support is under construction
             This RTL CSS will be released in version 1.5
        <link rel="stylesheet" type="text/css" media="screen" href="/Content/smart/css/smartadmin-rtl.min.css"> -->

        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/bootstrap/css/datepicker.css")" rel="stylesheet" type="text/css" />
        @*<link href="@Url.Content("~/Content/select2/select2.css")" rel="stylesheet" type="text/css" media="screen" />*@
        <link href="@Url.Content("~/Content/print.css")" rel="stylesheet" type="text/css" media="print" />
        <link href="@Url.Content("~/Content/bootstrap/css/bootstrap-datetimepicker.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/colpick.css")" rel="stylesheet" type="text/css" />

        @*<link rel="stylesheet" type="text/css" media="screen" href="/Content/smart/css/demo.min.css">*@

        <!-- FAVICONS -->
        <link rel="shortcut icon" href="/Content/smart/img/favicon/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/Content/smart/img/favicon/favicon.ico" type="image/x-icon">

        <!-- GOOGLE FONT -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

        <!-- Specifying a Webpage Icon for Web Clip
             Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
        <link rel="apple-touch-icon" href="/Content/smart/img/splash/sptouch-icon-iphone.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/Content/smart/img/splash/touch-icon-ipad.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/Content/smart/img/splash/touch-icon-iphone-retina.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/Content/smart/img/splash/touch-icon-ipad-retina.png">

        <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        <!-- Startup image for web apps -->
        <link rel="apple-touch-startup-image" href="/Content/smart/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
        <link rel="apple-touch-startup-image" href="/Content/smart/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
        <link rel="apple-touch-startup-image" href="/Content/smart/img/splash/iphone.png" media="screen and (max-device-width: 320px)">

    </head>
    <body class="">
        <!-- possible classes: minified, fixed-ribbon, fixed-header, fixed-width-->
        <!-- HEADER -->
        <header id="header">

            <div id="logo-group">
                <!-- PLACE YOUR LOGO HERE -->
                <span id="logo"><img src="@Url.Content("~/Content/images/templatemo_logo.png")" alt="Logo"></span>
                @*
                    <span id="logo"> <img src="@filePath" alt="Logo"> </span>
                *@
                <!-- END LOGO PLACEHOLDER -->
                @*
                    <!-- Note: The activity badge color changes when clicked and resets the number to 0
                    Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->
                    <span id="activity" class="activity-dropdown"> <i class="fa fa-user"></i> <b class="badge"> 21 </b> </span>

                    <!-- AJAX-DROPDOWN : control this dropdown height, look and feel from the LESS variable file -->
                    <div class="ajax-dropdown">

                        <!-- the ID links are fetched via AJAX to the ajax container "ajax-notifications" -->
                        <div class="btn-group btn-group-justified" data-toggle="buttons">
                            <label class="btn btn-default">
                                <input type="radio" name="activity" id="ajax/notify/mail.html">
                                Msgs (14)
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="activity" id="ajax/notify/notifications.html">
                                notify (3)
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="activity" id="ajax/notify/tasks.html">
                                Tasks (4)
                            </label>
                        </div>

                        <!-- notification content -->
                        <div class="ajax-notifications custom-scroll">

                            <div class="alert alert-transparent">
                                <h4>Click a button to show messages here</h4>
                                This blank page message helps protect your privacy, or you can show the first message here automatically.
                            </div>

                            <i class="fa fa-lock fa-4x fa-border"></i>

                        </div>
                        <!-- end notification content -->
                        <!-- footer: refresh area -->
                        <span>
                            Last updated on: 12/12/2013 9:43AM
                            <button type="button" data-loading-text="
                                <i class='fa fa-refresh fa-spin'></i> Loading..." class="btn btn-xs btn-default pull-right">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </span>
                        <!-- end footer -->

                    </div>
                    <!-- END AJAX-DROPDOWN -->
                *@
            </div>

            <!-- projects dropdown -->
            <div class="project-context hidden-xs">

                <span class="label">Notícias:</span>
                <span class="project-selector dropdown-toggle" data-toggle="dropdown">Notícias recentes <i class="fa fa-angle-down"></i></span>

                <!-- Suggestion: populate this list with fetch and push technique -->
                <ul class="dropdown-menu">
                    <li>
                        <a href="javascript:void(0);">Projeto de implantação do sistema de Gestão Escolar nas escolas</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:void(0);"><i class="fa fa-power-off"></i> Limpar</a>
                    </li>
                </ul>
                <!-- end dropdown-menu-->

            </div>
            <!-- end projects dropdown -->
            <!-- pulled right: nav area -->
            <div class="pull-right">

                <!-- collapse menu button -->
                <div id="hide-menu" class="btn-header pull-right">
                    <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Mostar/Esconder Menu"><i class="fa fa-reorder"></i></a> </span>
                </div>
                <!-- end collapse menu -->
                <!-- #MOBILE -->
                <!-- Top menu profile link : this shows only when top menu is active -->
                <ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
                    <li class="">
                        <a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown">
                            <img src="/Content/images/default-user.png" alt="" />
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0"><i class="fa fa-cog"></i> Configuração</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="profile.html" class="padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-user"></i> Perfil</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="launchFullscreen"><i class="fa fa-arrows-alt"></i> Tela Cheia</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="javascript:;" class="padding-10 padding-top-5 padding-bottom-5" onclick="ConfirmaLogout()"><i class="fa fa-sign-out fa-lg"></i> <strong>Sair</strong></a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <!-- ajuda -->
                
                @*<div class="transparent pull-right btn-header">
                    <button class="btn-header transparent pull-right dropdown-toggle" data-toggle="dropdown">
                        <span class="fa fa-question"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:void(0);" id="suporte">Suporte Online</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Blog</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Documentação</a>
                        </li>
                    </ul>
                </div>*@
                @*<div id="suporte" class="open btn-header transparent pull-right">
                    <span> <a href="javascript:;" rel="popover" data-placement="bottom" data-original-title="Popover Down" data-content="Clique aqui para iniciar o suporte online" title="Precisa de Ajuda?"><i class="fa fa-question"></i></a> </span>
                </div>*@

             
                <!-- logout button -->
                <div id="logout" class="btn-header transparent pull-right">
                    <span> <a href="javascript:;" title="Sair" onclick="ConfirmaLogout()"><i class="fa fa-sign-out"></i></a> </span>
                </div>
                <!-- end logout button -->
                <!-- search mobile button (this is hidden till mobile view port) -->
                <div id="search-mobile" class="btn-header transparent pull-right">
                    <span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
                </div>
                <!-- end search mobile button -->
                <!-- input: search field -->
                <form class="header-search pull-right">
                    <input style="margin-top:9px" id="select_search_pessoas" type="text" />
                    <button id="btn-header-search">
                        <i class="fa fa-search"></i>
                    </button>
                    <a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>
                </form>
                <!-- end input: search field -->
                @*
                    <!-- fullscreen button -->
                    <div id="fullscreen" class="btn-header transparent pull-right">
                        <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
                    </div>
                    <!-- end fullscreen button -->
                *@

                <!-- notificações -->
                
                <div id="message-btn" class="btn-header transparent pull-right hidden-sm hidden-xs">
                    <div>
                        <a href="javascript:void(0)" title="Marcadores"><i class="fa fa-bookmark"></i></a>
                    </div>
                </div>
                <div id="notify-btn" class="btn-header transparent pull-right hidden-sm hidden-xs">
                    <div>
                        <a href="javascript:void(0)" title="Notificações"><i class="fa fa-bell"></i></a>
                    </div>
                </div>
                <!-- end notificações -->
                <!-- mensagens -->
                <div id="message-btn" class="btn-header transparent pull-right hidden-sm hidden-xs">
                    <div>
                        <a href="javascript:void(0)" title="Mensagens"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
                <!-- end mensagens -->
                <!-- bookmark -->
                <div id="suporte" class="btn-header transparent pull-right">
                    <span> <a href="javascript:;" title="Ajuda"><i class="fa fa-question"></i></a> </span>
                </div>
               
                <!-- end bookmark -->

            </div>
            <!-- end pulled right: nav area -->

        </header>
        <!-- END HEADER -->
        <!-- Left panel : Navigation area -->
        <!-- Note: This width of the aside area can be adjusted through LESS variables -->
        <aside id="left-panel">

            <!-- User info -->
            <div class="login-info">
                <span>
                    <!-- User image size is adjusted inside CSS, it should stay as it -->

                    <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
                        <img src="/Content/images/default-user.png" alt="" />
                        <span title="">

                        </span>
                        <i class="fa fa-angle-down"></i>
                    </a>

                </span>
            </div>
            <!-- end user info -->
            <!-- NAVIGATION : This navigation is also responsive

            To make this navigation dynamic please make sure to link the node
            (the reference to the nav > ul) after page load. Or the navigation
            will not initialize.
            -->
            <nav>
                <!-- NOTE: Notice the gaps after each icon usage <i></i>..
                Please note that these links work a bit different than
                traditional href="" links. See documentation for details.
                -->
                @*@if (ControladorDeSessao.EhPerfilAdministradorSistema())
                {
                    @Html.Partial("_MenuAdministrador")
                }
               *@
                @Html.Partial("_MenuPrincipal")
            </nav>
            <span class="minifyme" data-action="minifyMenu">
                <i class="fa fa-arrow-circle-left hit"></i>
            </span>

        </aside>
        <!-- END NAVIGATION -->
        <!-- MAIN PANEL -->
        <div id="main" role="main">
            @*
                <!-- RIBBON -->
                <div id="ribbon">
                    <span class="ribbon-button-alignment">
                        <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="
                            <i class='text-warning fa fa-warning'></i> Atenção! Esta ação irá redefinir todas as suas configurações." data-html="true">
                            <i class="fa fa-refresh"></i>
                        </span>
                    </span>
                    <!-- breadcrumb -->
                    <ol class="breadcrumb" id="breadcrumb"></ol>
                    <!-- end breadcrumb -->

                    <span class="ribbon-button-alignment pull-right">
                        <span class="btn btn-ribbon hidden-xs" data-title="Notificações"><i class="fa fa-bell"></i></span>
                        <span class="btn btn-ribbon hidden-xs" data-title="Mensagens"><i class="fa fa-envelope"></i></span>
                        <span class="btn btn-ribbon hidden-xs" data-title="Marcadores"><i class="fa fa-bookmark"></i></span>
                    </span>

                </div>
                <!-- END RIBBON -->
            *@
            <!-- MAIN CONTENT -->
            <div id="content">
                @RenderBody()
            </div>
            <!-- END MAIN CONTENT -->

        </div>
        <!-- END MAIN PANEL -->
        <!-- PAGE FOOTER -->
        <div class="page-footer">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <span class="txt-color-white">Pegazus ERP - Pegazus Software © @DateTime.Now.Year</span>
                </div>
                @*
                    <div class="col-xs-6 col-sm-6 text-right hidden-xs">
                        <div class="txt-color-white inline-block">
                            <i class="txt-color-blueLight hidden-mobile">Último acesso <i class="fa fa-clock-o"></i> <strong>52 mins atrás &nbsp;</strong> </i>
                            <div class="btn-group dropup">
                                <button class="btn btn-xs dropdown-toggle bg-color-blue txt-color-white" data-toggle="dropdown">
                                    <i class="fa fa-link"></i> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right text-left">
                                    <li>
                                        <div class="padding-5">
                                            <p class="txt-color-darken font-sm no-margin">Download Progress</p>
                                            <div class="progress progress-micro no-margin">
                                                <div class="progress-bar progress-bar-success" style="width: 50%;"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="padding-5">
                                            <p class="txt-color-darken font-sm no-margin">Server Load</p>
                                            <div class="progress progress-micro no-margin">
                                                <div class="progress-bar progress-bar-success" style="width: 20%;"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="padding-5">
                                            <p class="txt-color-darken font-sm no-margin">Memory Load <span class="text-danger">*critical*</span></p>
                                            <div class="progress progress-micro no-margin">
                                                <div class="progress-bar progress-bar-danger" style="width: 70%;"></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="padding-5">
                                            <button class="btn btn-block btn-default">refresh</button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                *@
            </div>
        </div>
        <!-- END PAGE FOOTER -->
        <!-- SHORTCUT AREA : With large tiles (activated via clicking user name tag)
        Note: These tiles are completely responsive,
        you can add as many as you like
        -->
        <div id="shortcut">
            <ul>
                @*
                    <li>
                        <a href="#inbox.html" class="jarvismetro-tile big-cubes bg-color-blue"> <span class="iconbox"> <i class="fa fa-envelope fa-4x"></i> <span>Mail <span class="label pull-right bg-color-darken">14</span></span> </span> </a>
                    </li>
                    <li>
                        <a href="#calendar.html" class="jarvismetro-tile big-cubes bg-color-orangeDark"> <span class="iconbox"> <i class="fa fa-calendar fa-4x"></i> <span>Calendar</span> </span> </a>
                    </li>
                    <li>
                        <a href="#gmap-xml.html" class="jarvismetro-tile big-cubes bg-color-purple"> <span class="iconbox"> <i class="fa fa-map-marker fa-4x"></i> <span>Maps</span> </span> </a>
                    </li>
                    <li>
                        <a href="#invoice.html" class="jarvismetro-tile big-cubes bg-color-blueDark"> <span class="iconbox"> <i class="fa fa-book fa-4x"></i> <span>Invoice <span class="label pull-right bg-color-darken">99</span></span> </span> </a>
                    </li>
                    <li>
                        <a href="#gallery.html" class="jarvismetro-tile big-cubes bg-color-greenLight"> <span class="iconbox"> <i class="fa fa-picture-o fa-4x"></i> <span>Gallery </span> </span> </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="jarvismetro-tile big-cubes selected bg-color-pinkDark"> <span class="iconbox"> <i class="fa fa-user fa-4x"></i> <span>My Profile </span> </span> </a>
                    </li>
                *@
                <li>
                    <a href="javascript:void(0);" class="jarvismetro-tile big-cubes bg-color-pinkDark"> <span class="iconbox"> <i class="fa fa-user fa-4x"></i> <span>Meu Perfil </span> </span> </a>
                </li>
            </ul>
        </div>
        <!-- END SHORTCUT AREA -->
        <!--================================================== -->
        <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
        <script data-pace-options='{ "restartOnRequestAfter": true }' src="/Content/smart/js/plugin/pace/pace.min.js"></script>

        <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script>
            if (!window.jQuery) {
                document.write('<script src="/Content/smart/js/libs/jquery-2.0.2.min.js"><\/script>');
            }
        </script>

        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script>
            if (!window.jQuery.ui) {
                document.write('<script src="/Content/smart/js/libs/jquery-ui-1.10.3.min.js"><\/script>');
            }
        </script>

        <!-- IMPORTANT: APP CONFIG -->
        <script src="/Content/smart/js/app.config.js"></script>

        <!-- JS TOUCH : include this plugin for mobile drag / drop touch events-->
        <script src="/Content/smart/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script>

        <!-- BOOTSTRAP JS -->
        <script src="/Content/smart/js/bootstrap/bootstrap.min.js"></script>

        <!-- CUSTOM NOTIFICATION -->
        <script src="/Content/smart/js/notification/SmartNotification.min.js"></script>

        <!-- JARVIS WIDGETS -->
        <script src="/Content/smart/js/smartwidgets/jarvis.widget.min.js"></script>

        <!-- EASY PIE CHARTS -->
        <script src="/Content/smart/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

        <!-- SPARKLINES -->
        <script src="/Content/smart/js/plugin/sparkline/jquery.sparkline.min.js"></script>

        <!-- JQUERY VALIDATE -->
        <script src="/Content/smart/js/plugin/jquery-validate/jquery.validate.min.js"></script>

        <!-- JQUERY MASKED INPUT -->
        <script src="/Content/smart/js/plugin/masked-input/jquery.maskedinput.min.js"></script>

        <!-- JQUERY SELECT2 INPUT -->
        @*<script src="/Content/smart/js/plugin/select2/select2.min.js"></script>*@
        <script src="/Content/select2-3.5.2/select2.min.js"></script>
        <script src="/Content/select2-3.5.2/select2_locale_pt-BR.js"></script>

        <!-- JQUERY UI + Bootstrap Slider -->
        <script src="/Content/smart/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

        <!-- browser msie issue fix -->
        <script src="/Content/smart/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

        <!-- FastClick: For mobile devices -->
        <script src="/Content/smart/js/plugin/fastclick/fastclick.min.js"></script>

        <!--[if IE 8]>

        <h1>Seu navegador está desatualizado, por favor atualize seu navegador em www.microsoft.com/download</h1>

        <![endif]-->
        <!-- Demo purpose only -->
        @*<script src="/Content/smart/js/demo.min.js"></script>*@

        <!-- MAIN APP JS FILE -->
        <script src="/Content/smart/js/app.min.js"></script>

        @*
            <!-- ENHANCEMENT PLUGINS : NOT A REQUIREMENT -->
            <!-- Voice command : plugin -->
            <script src="/Content/smart/js/speech/voicecommand.min.js"></script>
        *@

        <!-- PAGE RELATED PLUGIN(S)
        <script src="..."></script>-->
        <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax-custom.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.maskMoney.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.maskedinput-1.3.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.ui.i18n.all.min.js")" type="text/javascript"></script>
        <script src="/Content/smart/js/plugin/clockpicker/clockpicker.min.js"></script>
        <script src="@Url.Content("~/Scripts/colpick.js")" type="text/javascript"></script>
        <script src="/Content/smart/js/libs/jquery-ui-1.10.3.min.js"></script>

        <!-- Flot Chart Plugin: Flot Engine, Flot Resizer, Flot Tooltip -->
        <script src="/Content/smart/js/plugin/flot/jquery.flot.cust.min.js"></script>
        <script src="/Content/smart/js/plugin/flot/jquery.flot.resize.min.js"></script>
        <script src="/Content/smart/js/plugin/flot/jquery.flot.tooltip.min.js"></script>

        <!-- Vector Maps Plugin: Vectormap engine, Vectormap language -->
        <script src="/Content/smart/js/plugin/vectormap/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="/Content/smart/js/plugin/vectormap/jquery-jvectormap-world-mill-en.js"></script>


        <script src="~/Scripts/sotedTable.js"></script>
        

        <script src="/Content/smart/js/plugin/jcrop/jquery.Jcrop.min.js"></script>
        <script src="/Content/smart/js/plugin/jcrop/jquery.color.min.js"></script>


        @* Verificar a necessidade desses scripts, pois o layout já vem com os seus próprios.
            <script src="@Url.Content("~/Scripts/bootbox.min.js")" type="text/javascript"></script>
            <script src="@Url.Content("~/Content/bootstrap/js/bootstrap-datepicker.js")" type="text/javascript"></script>
            <script src="@Url.Content("~/Content/bootstrap/js/bootstrap-datepicker.pt.js")" type="text/javascript"></script>
        *@

        <script src="@Url.Content("~/Scripts/application.js")" type="text/javascript"></script>
        <script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
        
        <script type="text/javascript">

    @* DO NOT REMOVE : GLOBAL FUNCTIONS! *@

            $(document).ready(function () {
                montaPaginaAoFinalizarCarregamento();
                iniciaSearchBar();
            });

        </script>

        @if (IsSectionDefined("scripts"))
        {
            @RenderSection("scripts")
        }
        
        @*
            <!-- Your GOOGLE ANALYTICS CODE Below -->
            <script type="text/javascript">
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
                _gaq.push(['_trackPageview']);

                (function () {
                    var ga = document.createElement('script');
                    ga.type = 'text/javascript';
                    ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(ga, s);
                })();

            </script>
        *@
        <script type="text/javascript">
            $('#suporte').click(function () {
                var url = 'http://suporte.fingerid.com.br/livezilla/chat.php?a=75759&amp;epc=I2ZmMDAwMA__"';
                var myWindow = window.open(url, "Suporte", "width=500, height=800");
            });
        </script>
       @* @Html.Hidden("loginUsuario", ControladorDeSessao.GetUsuario().Login)*@

    </body>

</html>
}